<.header>
  New Counter
  <:subtitle>Use this form to manage counter records in your database.</:subtitle>
</.header>

<.counter_form changeset={@changeset} action={~p"/counter"} />

<.back navigate={~p"/counter"}>Back to counter</.back>
